.app {
    background-color: var(--white);
	height: 100%;
	height: calc(100% - 50px);
}
.app__news {
	display: flex;
	height: calc(100% - var(--topBar));
}

.u__hidden {
	display: none;
}

@media (max-width: 768px) {
	.app__news {
		flex-direction: column;
	}
}